html{
    font-family: 'Rufina', sans-serif;
}

body{
    background-color: #efefef;
    margin: 0;
    /*Color de lo que escribamos*/
    color: #034d6c;
    overflow-x: hidden;
}

a{
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;
    color:#034d6c;
    text-decoration: none;
    font-weight: 700;
}
a:hover{
    color: #f84f07;
}

html body header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 3px 0 5px #aaa;
    padding: 15px 30px;
    position: relative;
    z-index: 2;
}
header .logo{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 700;
}

html body nav ul{
    list-style-type: none;
    font-size: 16px;
}

html body nav ul li{
    display: inline-block;
}

html body nav ul li a{
    padding: 0 15px;
}
.hero{
    position: relative;
    z-index: 1;
    display: flex;
    background-color: #fff;
    padding: 20px 50px;
    justify-content: center;
    padding-bottom: 50px;
}

.hero-content{
    width: 1200px;
    display: flex;
    flex-direction: row;
}
.hero-content h1, h4{
    margin-left: 40px;
}

.hero h1{
    font-family: 'Rufina', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}
.hero h4{
    font-family: 'Rufina', sans-serif;
    margin-bottom: 50px;
    margin-top: 100px;
}

.left{
    width: 600px;
    align-self: center;
}

.btn{
    background-color: #f84f07;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px #ddd;
}

a.btn{
    color: #fff;
}
.center{
    display: flex;
    justify-content: center;
}
.content{
    width: 1200px;
}
.row{
    display: flex;
    flex-direction: row;
}
.orange{
    color: #f84f07;
}

.padded{
    padding: 20px 30px;
}
.grow{
    padding-top: 150px;
}

.vert-pad{
    padding: 20px 60px;
}

.card{
    background-color: #fff;
    box-shadow: 0 1px 2px #ddd;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 20px 30px;
    position: relative;
}
.third{
    width: 280px;
    height: 160px;
    margin: 20px;
}
.card a{
    /* background-color: red; */
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.card h3{
    justify-content: center;
    text-align: center;
}

/* FORMULARIO */
form input {
    font-family: 'Rubik', sans-serif;
    border: 0;
    height: 30px;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0px 1px 5px #ddd;
    /* outline: none; para quitar la linea de fuera cuando selecciona el campo */
    width: 400px;
    display: block;
}

textarea{
    font-family: 'Rubik', sans-serif;
    border: 0;
    height: 150px;
    padding: 10px 15px;
    border-radius: 30px;
    box-shadow: 0px 1px 5px #ddd;
    resize: none;
    width: 400px;
    display: block;
    outline: none;
}

.form-group{
    margin-bottom: 15px;
}
form label{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}
form input{
    cursor: pointer; 
}
.full-width{
    width: 100%;
}

.footer{
    padding: 80px 0 0 0;
    background-color: #333;
    color: #fff;
}

.social-links{
    margin-top: 20;
    margin-bottom: 40px;
}
.social-links a{
    margin: 0 10px;
}
.social{
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
}

.made-width{
    padding: 0 30px;
    color: #555;
}
.white-bg{
    background-color: #fff;
}

/* PROBANDO ESCRITURA */
.escritura{
    padding: 10px;
    height: 80px;
}
.escritura h1{
    font-size: 70px;
}

/* STACK */

.fourth h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.fourth img{
    padding: 40px 75px; /* arriba y lados*/
    /* justify-content: center; */
    align-items: center;
    width: 120px;
    
}


@media screen and (max-width: 1000px) {
    html body header{
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 3px 0 5px #aaa;
    /* padding: 15px 30px;
    position: relative; */
    z-index: 2;
    }

    header{
        width: 100%;
    }

    .hero {
        /* flex-direction: column; */
        width: 100%;
        padding-left: 20px;
    }

    .hero-content{
        width: 100%;
    }

    .center{
        width: 100%;
    }

    .content{
        width: 100%;
        padding-left: 50px;
    }
    .left {
        width: 100%;
        padding-left: 20px;
    }

    .left h1{
        font-size: 40px;
    }

    .right {
        width: 100%;
    }

    body{
        width: 100%;
        margin: 0;
    }

    img{
        width: 100%;
    }

    .escritura h1{
        font-size: 50px;
    }

    .card{
        background-color: #fff;
        box-shadow: 0 1px 2px #ddd;
        border: solid 1px #ddd;
        border-radius: 5px;
        padding: 20px 30px;
        position: relative;
    }

    .third{
        width: 230px;
        height: 160px;
        margin: 20px;
    }

    .card a{
        /* background-color: red; */
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .card h3{
        justify-content: center;
        text-align: center;
    }
    .fourth-img img{
        width: 12%;
        padding: 30px 50px;
    }
    .footer{
        margin: 0;
        width: 105%;
    }

    .footer img{
        width:30px;
        
    }
    .phone{
        padding-top: 20%;
    }
/* Otros ajustes específicos para tamaños de pantalla más pequeños */
}

