<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1> Desarrollo con pasión aplicaciones y sitios webs</h1>
                <p> Constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones para ponerlas a prueba.<br>
                    <br>Esta web está construida con Python y Flask.
                </p>
            </div>
            <div class="right padded">
                <h1>¿Hablamos?</h1>
                <p>Envíame un correo <a href="#contacto" class="orange">AQUI</a></p>
            </div>
        </div>
        
    </div>
</div>
