<div class="center padded white-bg">
    <div class="content">
        <div class="fourth padded">
            <h1>Stack técnologico</h1>
            
            <div class="fourth-img">
                <img src="{{url_for('static', filename='python.png')}}" alt="python image">
                <img src="{{url_for('static', filename='php.png')}}" alt="php image">
                <img src="{{url_for('static', filename='javascript.png')}}" alt="javascript image">
                <img src="{{url_for('static', filename='mysql.png')}}" alt="mysql image">
                <br>
                <img src="{{url_for('static', filename='flask.png')}}" alt="flask image">
                <img src="{{url_for('static', filename='codeigniter.png')}}" alt="codeigniter image">
                <!-- <img src="{{url_for('static', filename='python.png')}}" alt="javascript image">
                <img src="{{url_for('static', filename='python.png')}}" alt="javascript image"> -->
            </div>
            
        </div>
    </div>
</div>
