<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded fourth">
            <h1>Algunos de mis proyectos</h1>
        </div>
        <div class="row padded">
            <div class="card third">
                <h3>Hands-Detection!</h3>
                <p>Echa un vistazo a este proyecto, realizado con python, cv y mediapipe.</p>
                <a class="orange" target="_blank" href="https://github.com/Jerona93/Hands-Detection">Link</a>
            </div>
            <div class="card third">
                <h3>Mini-Calculadora</h3>
                <p>Descarga una calculadora para tu ordenador, puede que ya tengas una pero esta la he hecho yo.</p>
                <a class="orange" href="{{ url_for('static', filename='calculadora.zip') }}">Link</a>
            </div>
            <div class="card third">
                <h3>Mi GitHub</h3>
                <p>¿Quieres ver los proyectos que voy haciendo?<br> Echale un ojo a mi GitHlub!</p>
                <a class="orange" href="https://github.com/Jerona93">Link</a>
            </div>
        </div>
    </div>
</div>