<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <img src="{{url_for('static', filename='grow.png')}}" width=550px alt="">
            </div>
            <div class="right padded grow">
                
                <h1>¡Aún queda mucho por aprender!</h1>
                <p>Soy un apasionado de la tecnología, siempre al tanto de novedades.</p>
                <p>¡Siempre se puede aprender algo nuevo!</p>
                <br>
                <h3>Mejorando mi stack técnologico</h3>
                <p>Estando al tanto de las últimas noticias, puedo mantener actualizado mi stack.</p>
                <!-- <code>
                    function saludar() { <br>
                        console.log("¡Hola, mundo!");<br>
                    }
                    <br>
                    saludar();
                </code> -->
            </div>
        </div>
        
    </div>
</div>
