<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Apasionado por el desarrollo de aplicaciones y sitios web. </h1>
                <p>Siempre estoy aprendiendo sobre nuevas tecnologías y desarrollando aplicaciones para probarlas.<br>
                    <br>Este sitio web está construido con Python, Flask y JavaScript.
                </p>
            </div>
            <div class="right padded phone">
                <h1>¿Hablamos?</h1>
                <p>Envíame un correo <a href="#contacto" class="orange">AQUI</a></p>
            </div>
        </div>
        
    </div>
</div>
