<div class="center padded">
    <div class="content padded">
        <div class="padded">
            <h1>¡¡Mira lo que hago!!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>App 1</h3>
                <p> Esta es la PRIMERA app</p>
                <a class="orange" target="_blank" href="#">Link</a>
            </div>
            <div class="card third">
                <h3>App 2</h3>
                <p> Esta es la SEGUNDA app</p>
                <a class="orange" href="#">Link</a>
            </div>
            <div class="card third">
                <h3>App 3</h3>
                <p> Esta es la TERCERA app</p>
                <a class="orange" href="#">Link</a>
            </div>
        </div>
    </div>
</div>