<div class="hero">
    <div class="hero-content">
        <div class="left padded">
            <h1>¡Correo enviado!</h1>
            <p>Tendrá respuesta en cuanto revise la bandeja de entrada.</p>
            <p>También puede contactarme por <a href="https://www.linkedin.com/in/jesus-romero-navarro/" target="_blank">Linkedin</a>.</p>
            
        </div>
        <div class="right">
            <img src="{{url_for('static', filename='mail.png')}}" width=500px alt="">
        </div>
    </div>
</div>